<% @friendships.each do |friendship| %>

    <% if friendship.confirmed? %>
        <% if friendship.user_id != 10 %>
        <% user_name = "#{friendship.user.first_name} #{friendship.user.last_name}" %>
            <p><%= link_to user_name, message_path(friendship) %></p>
        <% else %>
        <% friend_name = "#{friendship.friend_user.first_name} #{friendship.friend_user.last_name}" %>
            <p><%= link_to friend_name, message_path(friendship) %></p>
        <% end %>
    <% end %>
<% end %>